<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        table,
        th,
        td {
            border: 2px solid black;
        }
    </style>
</head>

<body>
    <center>
        <h1> All Clothes Rates </h1>
        <table style="width:30%">
            <tr>
                <th>Clothes</th>
                <th>Iron</th>
                <th>Dry Cleaning</th>
            </tr>

            <tr>
                <td>Shirt</td>
                <td>10</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Pant</td>
                <td>10</td>
                <td>60</td>
            </tr>
            <tr>
                <td>T-shirt</td>
                <td>10</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Jacket</td>
                <td>50</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Suit -3piece</td>
                <td>100</td>
                <td>250</td>
            </tr>
            <tr>
                <td>Kurta</td>
                <td>50</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Sweater</td>
                <td>50</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Shawl</td>
                <td>30</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Top</td>
                <td>50</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Skirt</td>
                <td>50</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Kurti-Plan</td>
                <td>50</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Kurti-Fancy</td>
                <td>50</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Dupatta</td>
                <td>30</td>
                <td>80</td>
            </tr>
            <tr>
                <td>saree</td>
                <td>50</td>
                <td>200</td>
            </tr>
            <tr>
                <td>saree-designer</td>
                <td>80</td>
                <td>300</td>
            </tr>
            <tr>
                <td>Blouse</td>
                <td>50</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Badsheet-single</td>
                <td>50</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Badsheet-Double</td>
                <td>100</td>
                <td>400</td>
            </tr>
            <tr>
                <td>Curtains-small</td>
                <td>50</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Curtains-Big</td>
                <td>120</td>
                <td>400</td>
            </tr>

        </table>
    </center>
</body>

</html>